/* .contact-card {
    background-color: #ffffff;
    width: 400px;
    height: 100px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
} */

.contact-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: aqua;
    margin: 5px;
    }

/* .name-phone {
    display: flex;
} */